<div id="<%= dom_id client %>">
  <p>
    <strong>Nome:</strong>
    <%= client.description %>
  </p>

  <p>
    <strong>E-mail:</strong>
    <%= client.email %>
  </p>

  <p>
    <strong>Data de Nascimento:</strong>
    <%= client.birth %>
  </p>

  <p>
    <strong>CPF:</strong>
    <%= client.cpf %>
  </p>

</div>
