<p style="color: green"><%= notice %></p>

<%= render @client %>

<div>
  <%= link_to "Editar cliente", edit_client_path(@client) %> |
  <%= link_to "Voltar", clients_path %>

  <%= button_to "Deletar", @client, method: :delete %>
</div>
